@inject NavigationManager Navigation
@inject ApplicationDbContext _db
@inject LinkService LinkService

<h3>Total Responses: @formList.Count</h3>
@foreach (var form in formList)
{
    <div class="form-list-item" @onclick="() => NavigateToEditForm(form.Id)">
        <h3>@form.Author?.Email</h3>
        <p>@form.SubmittedAt</p>
    </div>
}



@code {

    [Parameter] public int templateId { get; set; }

    private List<forms.Models.Form> formList = new();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(templateId);
        if (templateId != default)
        {
            formList = await _db.Forms.Where(f => f.TemplateId == templateId).Include(f =>
            f.Author).OrderByDescending(f => f.SubmittedAt).ToListAsync();
        }
    }


    private void NavigateToEditForm(int formId)
    {
        Navigation.NavigateTo($"/EditForm/{LinkService.EncryptId(formId)}", forceLoad: true);
    }
}
