.template-card {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-placeholder {
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-style: italic;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    flex-grow: 1;
}

.description-preview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card:hover {
    cursor: pointer;
}


.card-link-wrapper button {
    pointer-events: auto;
}

.card-link-wrapper {
    display: block;
    text-decoration: none;
    color: inherit;
}