@page "/Email"
@using forms.Data
@inject EmailService EmailService
@inject NavigationManager Nav
@rendermode InteractiveServer

<button @onclick="SendTestEmail">Send Test Email</button>

@code {
    private async Task SendTestEmail()
    {
        Console.WriteLine("email sending");
        var testEmail = "amhyou-test3@yopmail.com";
        var confirmationLink = $"{Nav.BaseUri}confirm-email";
        try
        {
            await EmailService.SendEmailAsync(testEmail, "Test Email", $"Click <a href='{confirmationLink}'>here</a> to confirm.");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        Console.WriteLine("email sent");
    }
}
