@page "/CreateTemplate"
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <ControlTemplate newTemplate="newTemplate" />
    </Authorized>
    <NotAuthorized>
        <center>
            <h2>Need to <a href="/Account/Login">login</a> first</h2>
        </center>
    </NotAuthorized>
</AuthorizeView>


@code {
    public Template newTemplate = new();

    protected override async Task OnInitializedAsync()
    {
        newTemplate.TopicId = 4;
        newTemplate.Questions.Add(new Question
        {
            Order = 1,
            Text = $"Question 1",
            Type = QuestionType.ShortAnswer,

        });
        await base.OnInitializedAsync();
    }
}